[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
torch-geometric = "*"
tensorboard = "*"

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
